name: GitHub CI

on:
  push:
    branches: '**'
  pull_request:
    branches: '**'
  workflow_dispatch:

jobs:
  build:
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        include:
          - os: windows-latest
            os-name: windows
            qt-version: '5.12'
            mingw-short-version: 73

          - os: ubuntu-latest
            os-name: linux
            qt-version: '5.12'

          - os: ubuntu-latest
            os-name: linux
            qt-version: '5.15'

          - os: macos-12
            os-name: mac
            qt-version: '5.12'

          - os: ubuntu-latest
            os-name: linux
            qt-version: '6.5'

    defaults:
      run:
        shell: bash

    steps:
      - name: Configure git
        run: |
            git config --global core.symlinks true
            git config --global core.autocrlf input

      - uses: actions/checkout@v2

      - name: Install Qt
        # pin to some SHA, until v3.4 or v4 is released later
        uses: jurplel/install-qt-action@da8fcfc956e466ea041d5e923c814860311ec6f2
        with:
          version: ${{ matrix.qt-version }}
          host: ${{ matrix.os-name }}
          modules: ${{format('{0}', (startsWith(matrix.qt-version, '6') && ' qt5compat qtmultimedia' || ''))}}
          arch: ${{ matrix.mingw-short-version != '' && format('win32_mingw{0}', matrix.mingw-short-version) || '' }}
          tools: ${{ matrix.mingw-short-version != '' && format('tools_mingw,qt.tools.win32_mingw{0}0', matrix.mingw-short-version) || '' }}
          cache: true
          add-tools-to-path: true

      - name: Check available tools
        run: |
             set -xueo pipefail
             uname -a
             qmake --version
             make --version
             g++ --version

      - name: Check translations
        run: |
            rm aqtinstall.log
            lupdate trikCheckApp.pro
            gitStatus=$(git status -s && git submodule --quiet foreach --recursive git status -s)
            if [ ! -z "$gitStatus" ]
            then
              echo $gitStatus
              echo git status must be clean
              git diff 
              false
            else
              true
            fi

      - name: QMake
        run: "qmake${{startsWith(matrix.qt-version, '6') && '6' || '' }} trikCheckApp.pro CONFIG+=release"

      - name: QMake all
        timeout-minutes: 1
        run: make -j $(nproc) qmake_all

      - name: Make all
        timeout-minutes: 10
        run: make -j $(nproc) all
